<% content_for(:title, project.name) %>








<!-- <div><%= image_tag project.logo %>

<h1><%= project.name %></h1>
<h2><%= project.tagline %></h2>

<%= project.description %>

<ul>
  <% project.openings.each do |o| %>
    <li>
      <h3><%= o.title %></h3>
      <p><%= o.desc %></p>
      <%= link_to "Apply Now", o.link %>
    </li>
  <% end %>
</ul></div> -->