<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'favicon/apple-icon-57x57.png' %>">
    <link rel="apple-touch-icon" sizes="60x60" href="<%= image_path 'favicon/apple-icon-60x60.png' %>">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'favicon/apple-icon-72x72.png' %>">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= image_path 'favicon/apple-icon-76x76.png' %>">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'favicon/apple-icon-114x114.png' %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= image_path 'favicon/apple-icon-120x120.png' %>">
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path 'favicon/apple-icon-144x144.png' %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'favicon/apple-icon-152x152.png' %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'favicon/apple-icon-180x180.png' %>">
    <link rel="icon" type="image/png" sizes="192x192"  href="<%= image_path 'favicon/android-icon-192x192.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path 'favicon/favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="96x96" href="<%= image_path 'favicon/favicon-96x96.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path 'favicon/favicon-16x16.png' %>">
    <link rel="manifest" href="<%= image_path 'favicon/manifest.json' %>">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="<%= image_path 'favicon/ms-icon-144x144.png' %>">
    <meta name="theme-color" content="#ffffff">

    <title><%= "#{current_page.data.title || yield_content(:title)} | Join CUSD" %></title>

    <%= stylesheet_link_tag "cusd" %>
    <%= javascript_include_tag  "head" %>
  </head>

  <body class="<%= page_classes %>">
    
    <header class="site-header">
      
      <div class="site-header__wrapper">

        <% link_to '/index.html' do %>
          <div class="site-logo">
            <%= image_tag "CUSD-logo.svg", class: "site-logo__image" %>
            <span class="site-logo__text">Cornell University<br>Sustainable Design</span>
          </div>
        <% end %>
        <div class="main-nav">
          <ul class="main-nav__menu">
            <li> 
              <a href="https://docs.google.com/a/cornell.edu/forms/d/1xoWpz59v7SkpzRUcXRuvBT0qw4RmWI0didgraXt-Vj0/viewform" class="button">Apply</a>
            </li>
            <li><%= link_to 'About', '/about.html' %></li>
            <li><%= link_to 'Projects', '/projects.html' %></li>
          </ul>
        </div>

        <div class="mobile-nav">
          <a href="#mobileMenu" class="button secondary">Menu</a>
        </div>

      </div>
    </header>

    <%= yield %>

    <footer class="site-footer" id="mobileMenu">
      <div class="site-footer__mobile-cta">
        <%= link_to 'Apply Now', 'https://docs.google.com/a/cornell.edu/forms/d/1xoWpz59v7SkpzRUcXRuvBT0qw4RmWI0didgraXt-Vj0/viewform', class: 'button button--inverse' %>
      </div>
      <div class="site-footer__links-wrapper">     
        <div class="site-footer__links-wrapper__link-list">
          <h5>CUSD</h5>
          <ul>
            <li><%= link_to 'Home', '/index.html' %></li>
            <li><%= link_to 'About', '/about.html' %></li>
            <li><%= link_to 'Projects', '/projects.html' %></li>
            <li><a href="https://docs.google.com/a/cornell.edu/forms/d/1xoWpz59v7SkpzRUcXRuvBT0qw4RmWI0didgraXt-Vj0/viewform">Apply</a></li>
          </ul>
        </div>
        <div class="site-footer__links-wrapper__link-list">
          <h5>Roles</h5>
          <ul>
            <% data.roles.each do |role| %>
              <li><%= link_to role[1].name, "/roles/#{role[0]}" %></li>
            <% end %>
          </ul>
        </div>
        <!-- <div class="site-footer__links-wrapper__link-list">
          <h5>Students</h5>
          <ul>
            <% sitemap.resources.each do |resource| %>
              <% if resource.path =~ /^students\// %>
                <li><%= link_to resource.data.title, resource %></li>
              <% end %>
            <% end %>
          </ul>
        </div> -->
        <div class="site-footer__links-wrapper__link-list site-footer__links-wrapper__link-list--extended">
          <h5>Projects</h5>
          <ul>
            <% data.projects.each do |project| %>
              <li><%= link_to project[1].name, "/projects/#{project[0]}" %></li>
            <% end %>
          </ul>
        </div>
        <div class="site-footer__links-wrapper__link-list">
          <h5>Connect</h5>
          <ul>
            <li><a href="http://cusd.cornell.edu">CUSD Website</a></li>
            <li><a href="https://www.facebook.com/CUSustainableDesign">Facebook</a></li>
            <li><a href="https://twitter.com/CUSD">Twitter</a></li>
            <li><a href="https://vimeo.com/cusd">Vimeo</a></li>
            <li><a href="https://www.flickr.com/photos/cusd">Flickr</a></li>
          </ul>
        </div>
      </div>
      <div class="site-footer__copyright-wrapper">
        <div class="site-footer__copyright-wrapper__text">
          This website was created exclusively by CUSD student members.<br>
          <span>&copy; 2015 Cornell University Sustainable Design</span>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag  "cusd" %>
  </body>
</html>
